<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ctp.ghub.dao.LogDao" >

    <resultMap id="BaseLogResultMap" type="com.ctp.ghub.model.LogDO" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="operate_type" property="operateType" jdbcType="VARCHAR"/>
        <result column="operate_status" property="operateStatus" jdbcType="INTEGER"/>
        <result column="operate_desc" property="operateDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="cols" >
        id,
        gmt_create,
        gmt_modified,
        user_id,
        module_name,
        ip,
        url,
        operate_type,
        operate_status,
        operate_desc
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ctp.ghub.model.LogDO" >
        insert into sys_log (
        gmt_create,
        gmt_modified,
        user_id,
        module_name,
        ip,
        url,
        operate_type,
        operate_status,
        operate_desc
        )
        values (
        now(),
        now(),
        #{userId},
        #{moduleName},
        #{ip},
        #{url},
        #{operateType},
        #{operateStatus},
        #{operateDesc}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from sys_log
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.ctp.ghub.model.LogDO" >
        UPDATE sys_log
        SET gmt_modified = now()
        WHERE id = #{id}
    </update>

    <select id="selectById" resultMap="BaseLogResultMap" parameterType="java.lang.Long" >
        select
        <include refid="cols" />
        from sys_log
        where id = #{id}
    </select>

    <select id="listAllLogDO" resultMap="BaseLogResultMap">
        select
        <include refid="cols" />
        from sys_log
    </select>
</mapper>